#wishlist {
  padding: 80px 0;
  background-color: #fafafa;
  .wishlist {
    .cards {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 20px;
      .card {
        box-shadow: 0px 0px 5px 0px rgb(235, 235, 235);
        background-color: #fff;
        padding: 40px;
        width: 32%;
        .customer {
          display: flex;
          column-gap: 20px;
          align-items: center;
          .img {
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }
          .info {
            .name {
              color: #00070a;
              font-weight: 600;
              &:hover {
                color: #06547e;
              }
            }
            .department {
              color: #d3d3d4;
              font-weight: 500;
            }
          }
        }
        .description {
          color: #364d59;
          font-size: 17px;
          line-height: 30px;
          margin-top: 20px;
          font-weight: 500;
        }
        .btn {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          button {
            border: 0;
            outline: 0;
            padding: 10px 20px;
            font-size: 15px;
            font-weight: 500;
            transition: all .4s;
            cursor: pointer;
            color: #031c38;
            background-color: #fddfab;
            border-radius: 5px;
            &:hover {
              background-color: #fdbe50;
            }
          }
        }
      }
    }
  }
}
